// Variáveis de cores

// Cores principais
$color-black:            #000000;
$color-light-gray:       #d5d5d5;
$color-beige:            #e0dece;
$color-beige-light:      #e3e1d3;
$color-beige-lighter:    #e4e3d7;
$color-accent:           #e84032;
$color-white:            #ffffff;
$color-dark-gray:        #3f3f3f;
$color-medium-gray:      #626262;
$color-green:            #63754f;

// Cores com opacidade
$color-black-transparent: rgba(0, 0, 0, 0);    // 0% de opacidade
$color-black-05:        rgba(0, 0, 0, 0.05);     // 5% de opacidade
